# --- Java & Maven ---
target/
*.class
*.jar
*.war

# --- Secrets & Config (SABSE ZAROORI) ---
.env
bin/
application-local.properties
# Agar tumne key application.properties mein rakhi hai toh ise bhi ignore kar sakte ho
# src/main/resources/application.properties

# --- IDE Settings ---
.idea/
.vscode/
*.iml
.settings/
.classpath
.project